html {
  scrollbar-color: #00bbff #ffffff;
}

/*! Other Browser */
html {
  --scrollbarBG: #00bbff;
  --thumbBG: #ffffff;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  /* scrollbar-arrow-color: #d917f3; */
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
