@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variant-ligatures: contextual;
  scroll-behavior: smooth;
  scroll-padding-top: 82px;
}


